* {
  box-sizing: border-box;
}

html {
  background-color: black;
  font-family: sans-serif;
}

body {
  background-color: #454e57;
  width: 1000px;
  padding: 40px;
  margin: 0 auto;
}

h1 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
}

p,
small {
  color: white;
}

header p {
  color: white;
  font-size: 15px;
  text-align: center;
}

.form1,
.form2,
.form3 {
  border-top: 3px solid #00b2f0;
  width: 100%;
}

.form1 {
  float: left;
  margin-bottom: 20px;
}

.txt_field {
  margin: 1%;
  border: none;
  border-bottom: 2px solid gray;
  background: transparent;
  height: 50px;
  font-size: 20px;
  color: white;
}

.t1 {
  float: left;
  width: 68%;
}

.t2 {
  width: 28%;
}

.t3,
.t4 {
  width: 68%;
}

.t5,
.t10,
.t11 {
  width: 98%;
}

.t6,
.t7,
.t8,
.t9 {
  float: left;
  width: 23%;
}

/*section 2*/
.design {
  display: flex;
  justify-content: space-between;
}

.container_radio {
  flex-basis: 22%;
  text-align: center;
}

/* hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
}

/* create a custom radio button */
.radio_button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  padding: 15px 0px;
  background: transparent;
  border: 1px solid lightgray;
}

/* when the radio button is checked, add a blue background */
.container_radio input:checked~.radio_button {
  background-color: #00b2f0;
  border: none;
}

.top_radio {
  margin-bottom: 20px;
}

.left_checkbox {
  float: left;
  width: 50%;
}

.right_checkbox {
  float: right;
  width: 50%;
}

.form2:after {
  content: "";
  display: table;
  clear: both;
}

.checkboxes {
  display: block;
  margin-top: 20px;
}

.container {
  display: flex;
  color: white;
  font-size: 20px;
  margin-left: 0;
}

/* hide the browser's default checkbox */
.container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 8px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid lightgray;
}

/* on mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* when the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2196F3;
}

.txt_box {
  border: 1px solid lightgray;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  padding-bottom: 60px;
  background: transparent;
  font-size: 20px;
  color: white;
}

footer button {
  margin-left: 0;
  color: white;
  background-color: #00b2f0;
  border: none;
  padding: 15px 40px;
  font-size: 20px;
  margin-bottom: 50px;
}
